/* Set height of body and the document to 100% to enable "full page tabs" */

h1 {
  text-align: center;
  color:#222629;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 40;
}
#the_icon {
  width: 10%;
}
body, html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  header{
    background-color:#222629;
    height: 120px;
  }
.ECO{
font-size: 40;
color: #87C232;
}
/* Style tab links */
.tablink {
    background-color: #222629;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 20%;
    align-items: center;
}

    .tablink:hover {
        background-color: #777;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #2C2C2C;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {
    background-color: white;
}

#Shop {
    background-color: white;
}

/*#Profile {
    background-color: white;
}*/

#About {
    background-color: white;
}

.gallery{
    width: 900px;
    display: flex;
    overflow-x: scroll;

}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 100px;
    flex: none;
}
.gallery div img{
    width: 100%;
    filter:grayscale(100%);
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery div img:hover{
    filter:grayscale(0);
    cursor:pointer;
    transform:scale(1.1);

}
.gallery-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100% auto;

}
#backBtn, #nextBtn {
    width: 50px;
    cursor: pointer;
    margin: 40px;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 5%;
  height: 30px;
  background-color: #87C232;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.shop {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.shop:hover {
    border: 1px solid #777;
  }
  
  div.shop img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
