/* Set height of body and the document to 100% to enable "full page tabs" */

h1 {
  text-align: center;
  color:#222629;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 40;
}

body, html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: #222629;
  }
  header{
    background-color:#87C232;
    height: 100px;
  }

.ECO{
font-size: 40;
color: #87C232;
text-transform: uppercase;
}

.headerlogo{
  right: 10px;
  top: 2.5px;
  bottom: 2.5px;
}

/* Style tab links */
.tablink {
    color: white;
    cursor: pointer;
    align-items: center;
}

    .tablink:hover {
        background-color: #777;
    }

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: #2C2C2C;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#Home {
    background-color: white;
}

#Shop {
    background-color: white;
}

/*#Profile {
    background-color: white;
}*/

#About {
    background-color: white;
}

div.desc {
  padding: 15px;
  text-align: center;
}

div.shop {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.shop:hover {
    border: 1px solid #777;
  }
  
  div.shop img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
