/* Set height of body and the document to 100% to enable "full page tabs" */

h1 {
  text-align: center;
  color:white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 40;
}

body{
   font-family: 'Roboto', Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    width: auto;
  }
  .header{
    width: 100%;
    background-color:#87C232;
    height: 70px;
    position: fixed;
  }
  .himage{
    margin-top: 2.5px;
    margin-left: 1%;
    border: none;
    color: none;
    cursor: pointer;
  }
  .headertext{
    margin-left: 0.8%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color:white;
    cursor: pointer;
  }
  main{
    background-color: #222629;
  }
  footer{
    background-color:#87C232;
    height: 100px;
  }

.ECO{
font-size: 40;
color: #87C232;
text-transform: uppercase;
}

/* Style tab links */
.tablink {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 30%;
}
  .tablink:hover{
    background-color:#222629;
  }
.buttons{
  margin-left: 20%;
}
.buttonstext{
  color: white;
  font-size: 20px;
  
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 70px;
    height: 100%;
}

#Home {
    background-color:#222629;
}

#Shop {
    background-color: #222629;
}

#About {
    background-color: #222629;
}

